*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 54, 54);
  image-rendering: pixelated;
}

canvas{
  background-color: brown;
  width: 50rem;
  height: auto;
}
